@model IEnumerable<Modelo.ItemTema>

@{
    ViewBag.Title = "Index";
}

<h2>Lista dos itens</h2>

<p>
    @Html.ActionLink("Adicionar item", "Cadastrar")
</p>
<table class="table">
    <tr>
        <th>
            Item
        </th>
        <th></th>
    </tr>
@if (Model != null)
{
    foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id = item.ItemId }) |
            @Html.ActionLink("Detalhes", "Detalhes", new { id = item.ItemId }) |
            @Html.ActionLink("Apagar", "Apagar", new { id = item.ItemId })
        </td>
    </tr>
    }
}
</table>
